.itemWrapper {
  width: 100%;
  background-color: #d8ecfd;
  height: 75px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1em;
}

.productImage {
  width: 90%;
  padding: 10px;
}

.verticalAlign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
